<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Countries</mat-label>
      <input type="text"
             placeholder="Pick Country"
             aria-label="Countries"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onCountrySelect($event)">
        <mat-option *ngFor="let option of filteredOptions | async" >
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>